 {% load static %}
 {% load m_tag %}
<!DOCTYPE html>
  <html>
  
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>yelp 2.0</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="robots" content="all,follow">
      
      {% include "home/components/lib.html" %} 
      
      <!-- Bootstrap CSS-->
      <link rel="stylesheet" href="{% static "webapp/yelp/css/lib/bootstrap.min.css"%}">
      <!-- Custom stylesheet - for your changes-->
      <link rel="stylesheet" href="{% static "webapp/yelp/css/custom.css" %}">
      
      <script src="{% static "webapp/yelp/js/lib/jquery-3.1.1.min.js"%}"></script>
      <!-- Tweaks for older IEs-->
      <!--[if lt IE 9]>
          <script src="{% static "webapp/yelp/js/lib/html5shiv.min.js"%}"></script>
          <script src="{% static "webapp/yelp/js/lib/respond.min.js"%}"></script><![endif]-->
          
  </head>
  
  <body>
      
        {% include "home/components/navbar.html" %} 
          <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-8">
                  {% include "home/components/yelp/searchbar.html" %} 
              </div>
              <div class="col-sm-2"></div>
         </div>
        {% include "home/components/layouts/search/search-body.html" %} 
        {% include "home/components/footer.html" %} 
      <!-- JavaScript files-->
      <script src="{% static "webapp/yelp/js/lib/bootstrap.bundle.min.js"%}"></script>
      <script src="{% static "webapp/yelp/js/lib/mustache.min.js"%}"></script>
      
  </body>
  
  </html>
  
