{% load m_tag %}
<div class="container">
  <table class="table table-hover">
      <thead class="thead-dark">
          <tr>
              <th>Review Category
                  {% m_tag "#fq" %}
                      <a style="float:right;" onclick="javascript:$('input[name=topic]').attr('checked',false);searchSubmit();" href="#">Clear[X]</a>
                  {% m_tag "/fq" %}
              </th>
          </tr>
      </thead>
      <tbody>
          {% m_tag "#topicFilter" %}
          <tr>
              <td>
                  {% m_tag "name" %} ({% m_tag "count" %})
                  <input onclick="javascript:searchSubmit();" name="topic" value="{% m_tag "name" %}" {% m_tag "checked" %} type="radio"/>
              </td>
            </tr>
         {% m_tag "/topicFilter" %}
      </tbody>
  </table>
</div>