<form id="search-form-id" class="mx-2 my-auto d-inline w-50">
   <div class="input-group">
      <input id="inputSearchTerm" type="text" class="form-control" placeholder="Search Keyword">
      <input id="inputPageNumber" type="hidden" value="1">
      <input id="inputPageSize" type="hidden" value="10">
       <span class="input-group-append">
       <button id="search-button-id" class="btn btn-outline-secondary" type="button">GO</button>
       </span>
    </div>
</form>

<script type="text/javascript">
function mapTopicAvgPolarity(topic,tAvgPol){
    var tlength=topic.length;
    var tavglength=tAvgPol.length;
    for(var i=0;i<tlength;i++){
        for(var j=0;j<tavglength;j++){
            if(tAvgPol[j].name==topic[i].name){
                if(tAvgPol[j].polarity < 0){
                    topic[i].polarity_class="badge-danger";
                }else if(tAvgPol[j].polarity <0.10){
                    topic[i].polarity_class="badge-dark";
                }else if(tAvgPol[j].polarity < 0.20){
                    topic[i].polarity_class="badge-success";
                }else{
                    topic[i].polarity_class="badge-primary";
                }
            }
        }
    }
    
}

function paginate(data){
//pagination changes
            var pages=[];
            var maxDisplay=7;
            var currentPage = data.pageNum;
            var totalCount = data.totalCount;
            var totalPages=((totalCount%10)==0?0:1)+(Math.floor(totalCount/10));
            
            var pageObj;
            
            
            var beginNumber=1;
            var endNumber=totalPages;
            
            if(currentPage < maxDisplay-1){
                beginNumber=1;
                if(totalPages > maxDisplay-1){
                    endNumber=maxDisplay-2;
                }
                
            }else{
                endNumber=currentPage;
                beginNumber=currentPage-4;
            }
            
            for(var k=beginNumber,counter=1;k<=endNumber;k++,counter++){
                pageObj={}
                pageObj.label=k;
                pageObj.number=k;
                pageObj.class=(k==currentPage)?"active":"";
                pages[counter]=pageObj;
            }
            
            if(currentPage < totalPages && totalPages > maxDisplay-1){
                pageObj={}
                pageObj.label=">>";
                pageObj.class="";
                pages[6]=pageObj;
                pages[6].number=pages[5].number+1
                pages[6].class=""
            }else{
                 pageObj={}
                pageObj.label=">>";
                pageObj.number=pages[pages.length-1].number+1;
                var pos =pages.length;
                pages[pos]=pageObj;
                pages[pos].class="disabled"
            }
            if(typeof pages[1] != 'undefined' && pages[1].number >1 ){
                var pageObj={}
                pageObj.label="<<";
                pageObj.class="";
                pages[0]=pageObj;
                pages[0].number=pages[1].number-1
            }else{
                var pageObj={}
                pageObj.label="<<";
                pageObj.class="disabled";
                pages[0]=pageObj;
                pages[0].number=pages[1].number-1
            }
    return pages;

}
function searchSubmit(){
    var searchTerm = $('#inputSearchTerm').val();
    var inputPageNumber = $('#inputPageNumber').val();
        if(searchTerm.trim()){
            $.getJSON('/api/search/?q='+searchTerm+'&pageSize=10&pageNum='+inputPageNumber, function(data) {
            var template = $('#results-list-template').html();
            var searchTerm = $('#inputSearchTerm').val();
            data['searchTerm']=searchTerm;
            var docs =data.docs;
            for(var k=0;k< docs.length;k++){
                var rating = docs[k].rating;
                var rating_class=['','','','',''];
                for(var i=0;i<rating;i++){
                    rating_class[i]='checked';
                }
                docs[k].rating_class=rating_class;
                
                //map average topic polarity
                if(typeof  docs[k].topic_avg_polarity != 'undefined'){
                    mapTopicAvgPolarity(docs[k].topic,docs[k].topic_avg_polarity)
                }
            }
            
            var pages=[];
            if(data.totalCount > 0){
              pages = paginate(data);          
            }
            data.pages=pages;

            console.log(data);
            var html = Mustache.to_html(template, data);
                $('#search-listing').html(html);
            });
        }
}
function pageSelected(pageNumber){
    $("#inputPageNumber").val(pageNumber);
    console.log($("#inputPageNumber").val())
    $("#search-button-id").click();
    
}
$( document ).ready(function() {
    $("#search-button-id").click(function(event) {
        $("#inputPageNumber").val(1);
        console.log($("#inputPageNumber").val())
        searchSubmit();
        event.preventDefault();
    });
});
$(document).ready(function() {
    $("#inputSearchTerm").on('keypress',function(event) {
        if(event.which == 13){
            $("#inputPageNumber").val(1);
            searchSubmit();
            event.preventDefault();
        }        
    });
});
</script>